<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Estudiante</title>
</head>
<body>
	<table>
		<thead>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Carne</th>
			<th>Carrera</th>
		</thead>
		
		<th:block th:each = "e, row: ${estudiantes}">
			<tr>
				<th th:text="${e.id}">
				<th th:text="${e.nombre}"/>
				<th th:text="${e.apellido}"/>
				<th th:text="${e.carne}"/>
				<th th:text="${e.carrera}"/>
			</tr>
		</th:block>
		
	</table>
	
	<form th:action="@{/}" method="post">
		<input type="submit" value="Home"/>
	</form>
</body>
</html>